@page
@model FLTmodel
@{
    ViewData["Title"] = "Add FLT";
}

<div>
    <h1 class="display-4">Add FLT</h1>
    <input id="FLTtextbox" type="text" /><input id="FLTbutton" type="button" value="Enter" />

</div>
