@page
@model FLTmodel
@{
    ViewData["Title"] = "Set the amount of rounds";
}

<div>
    <h1 class="display-4">Set the amount of rounds</h1>
    <input id="Settextbox" type="text" /><input id="Setbutton" type="button" value="Enter" />

</div>
